$primary-color: #1E3E62; // اللون الأساسي
$secondary-color: #FF6500; // اللون الثانوي
$text-color: #333;
$background-color: #dddddd; // لون الخلفية العامة
$shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$easing: ease-in-out;